<h1>Cookie your cookie</h1>

<h2>{{upper "Select cookie base"}}</h2>

    {{#each bases}}
        <span>
            <a href="/configurator/select-base/{{this.[0]}}">Select {{this.[0]}} for {{this.[1]}}</a>
        </span>
    {{/each}}

<h2>Select your favorite addons</h2>
    {{#each addons}}
        <span>
            <a href="/configurator/select-addon/{{this.[0]}}">Add {{this.[0]}} for {{this.[1]}}</a>
        </span>
    {{/each}}

{{> cookie-preview }}

{{> addons }}